if SHIELD_ROBA_R

config ZMK_KEYBOARD_NAME
    default "roBa_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y
CONFIG_BT_MIN_CONN_INTERVAL=6   # 7.5ms
CONFIG_BT_MAX_CONN_INTERVAL=6   # 7.5ms
CONFIG_PMW3610_POLLING_RATE_125_SW=y

endif

if SHIELD_ROBA_L

config ZMK_KEYBOARD_NAME
    default "roBa_L"

config ZMK_SPLIT
    default y
# 単位は 1.25ms




endif
